Repository GoogleCloudPlatform/gcpdiag: changes, and which pre-commit hooks are due for each by the changed paths.
All: gcpdiag-custom-rule, gcpdiag-custom-runbook-rule

gcpdiag-custom-rule:
  name: Check that there are required files for each lint rule
  entry: ./bin/precommit-required-files-wrapper lint
  language: script

gcpdiag-custom-runbook-rule:
  name: Check and generate runbook docs
  entry: ./bin/precommit-required-files-wrapper runbook
  language: script

feat(gce): add boot disk auto-delete warning rule
  gcpdiag/lint/gce/snapshots/WARN_2026_001.txt
  gcpdiag/lint/gce/warn_2026_001_boot_disk_auto_delete.py
  website/content/en/rules/gce/WARN/2026_001.md
Due: gcpdiag-custom-rule

Merge "improving coverage % of latency file bug: 470768941" -- Branch commit log -- commit b42d005bdb8c2145a6dcb60ee50e8413e71e2467 Author: gcpdiag team <noreply@google.com> Date: 2026-01-06T05:32:56Z
  gcpdiag/runbook/lb/latency.py
  gcpdiag/runbook/lb/latency_test.py
Due: gcpdiag-custom-runbook-rule

Improve test coverage for gce runbooks bug: 474648636 Change-Id: I5f2f9627f60f5376d39ba0003787ac0695b37cf9
  gcpdiag/runbook/exceptions.py
  gcpdiag/runbook/gce/generalized_steps_test.py
  gcpdiag/runbook/gce/guestos_bootup.py
  gcpdiag/runbook/gce/guestos_bootup_test.py
  gcpdiag/runbook/gce/ops_agent_test.py
  gcpdiag/runbook/gce/serial_log_analyzer_test.py
  gcpdiag/runbook/gce/ssh_test.py
  gcpdiag/runbook/gce/vm_creation_test.py
  gcpdiag/runbook/gce/vm_performance_test.py
  gcpdiag/runbook/gce/vm_termination_test.py
Due: gcpdiag-custom-runbook-rule

Merge "gke runbook coverage improvements" -- Branch commit log -- commit e54940bd9fdff620e01951b72810ddfcdaa6a921 Author: gcpdiag team <noreply@google.com> Date: 2026-01-19T09:42:24Z
  gcpdiag/runbook/gke/cluster_autoscaler_test.py
  gcpdiag/runbook/gke/generalized_steps_test.py
  gcpdiag/runbook/gke/gke_ip_masq_standard_test.py
  gcpdiag/runbook/gke/image_pull_test.py
  gcpdiag/runbook/gke/ip_exhaustion_test.py
  gcpdiag/runbook/gke/logs_test.py
  gcpdiag/runbook/gke/monitoring_configuration.py
  gcpdiag/runbook/gke/monitoring_configuration_test.py
  gcpdiag/runbook/gke/node_auto_repair.py
  gcpdiag/runbook/gke/node_auto_repair_test.py
  gcpdiag/runbook/gke/node_unavailability_test.py
  gcpdiag/runbook/gke/resource_quotas_test.py
Due: gcpdiag-custom-runbook-rule

Merge "Add a New VPN runbook." -- Branch commit log -- commit add84e4b9c57d1530f1098841fd84891661670a2 Author: gcpdiag team <noreply@google.com> Date: 2025-08-28T12:38:31Z
  bin/runbook-starter-code-generator
  gcpdiag/product_list.py
  gcpdiag/queries/apis_stub.py
  gcpdiag/queries/gce_stub.py
  gcpdiag/queries/monitoring.py
  gcpdiag/queries/monitoring_stub.py
  gcpdiag/queries/monitoring_test.py
  gcpdiag/queries/vpn.py
  gcpdiag/queries/vpn_stub.py
  gcpdiag/queries/vpn_test.py
  gcpdiag/runbook/vpn/__init__.py
  gcpdiag/runbook/vpn/constants.py
  gcpdiag/runbook/vpn/flags.py
  gcpdiag/runbook/vpn/generalized_steps.py
  gcpdiag/runbook/vpn/generalized_steps_test.py
  gcpdiag/runbook/vpn/snapshots/vpn_tunnel_check.txt
  gcpdiag/runbook/vpn/templates/vpn_check.jinja
  gcpdiag/runbook/vpn/vpn_tunnel_check.py
  gcpdiag/runbook/vpn/vpn_tunnel_check_test.py
  test-data/vpn/json-dumps/compute-project.json
  test-data/vpn/json-dumps/logging-entries-1.json
  test-data/vpn/json-dumps/monitoring-query.json
  test-data/vpn/json-dumps/project.json
  test-data/vpn/json-dumps/vpn-tunnel-1.json
  test-data/vpn/json-dumps/vpn-tunnel-down.json
  website/content/en/runbook/diagnostic-trees/vpn/_index.md
  website/content/en/runbook/diagnostic-trees/vpn/vpn-tunnel-check.md
  website/content/en/runbook/steps/vpn/_index.md
  website/content/en/runbook/steps/vpn/tunnel-down-status-reason.md
  website/content/en/runbook/steps/vpn/tunnel-packets-drop-check.md
  website/content/en/runbook/steps/vpn/tunnel-packets-utilization-check.md
  website/content/en/runbook/steps/vpn/vpn-tunnel-check-end.md
  website/content/en/runbook/steps/vpn/vpn-tunnel-status.md
Due: gcpdiag-custom-runbook-rule

bug: 479254453
  pyinstaller/hook-gcpdiag.runbook.py
Due: none

fix(gce): add missing f-string prefix in MIG template error message
  gcpdiag/queries/gce.py
Due: none

Update aiohttp hashes in Pipfile.lock.
  Pipfile.lock
Due: none

Merge "bug:479804638" -- Branch commit log -- commit fd0a6d0cc5ee978674fab5705f3561cfcb05076c Author: gcpdiag team <noreply@google.com> Date: 2026-01-29T16:11:48Z
  gcpdiag/lint/vpc/bp_2022_001_pga_next_hop.py
Due: gcpdiag-custom-rule

Fixing the error handling for the Failed Query runbook
  gcpdiag/queries/bigquery.py
Due: none

[Dependency Pruning] Deduplicate bs4 and dnspython entries
  Pipfile
  Pipfile.lock
Due: none

Remove legacy Python backport dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
Due: none

Migrate appdirs to platformdirs in gcpdiag
  Pipfile
  Pipfile.lock
  gcpdiag/config.py
  gcpdiag/runbook/op.py
  requirements.in
Due: none

[Dependency Pruning] Remove completely unused external dependencies
  Makefile
  Pipfile
  Pipfile.lock
Due: none

Remove unused dependency on blessings.
  Pipfile
  Pipfile.lock
  gcpdiag/lint/datafusion/snapshots/WARN_2024_001.txt
  gcpdiag/lint/datafusion/snapshots/WARN_2024_003.txt
  gcpdiag/lint/datafusion/snapshots/WARN_2024_004.txt
  gcpdiag/lint/datafusion/snapshots/WARN_2024_005.txt
  gcpdiag/lint/gce/snapshots/BP_EXT_2024_002.txt
  gcpdiag/lint/output/base_output.py
  gcpdiag/lint/output/terminal_output.py
  gcpdiag/runbook/bigquery/snapshots/failed_query.txt
  gcpdiag/runbook/interconnect/snapshots/bgp_down_flap.txt
  gcpdiag/runbook/output/terminal_output.py
  gcpdiag/runbook/snapshot_test_base.py
  gcpdiag/search/command.py
Due: gcpdiag-custom-runbook-rule

Analyse and update codespell
  .pre-commit-config.yaml
Due: none

Merge "Bug: 419931737 - Add batch job runbook" -- Branch commit log -- commit 056b68144631eb136c15cdceb092564f40458440 Author: Ian Mburu <mburuian@google.com> Date: 2026-05-18T17:10:13Z
  gcpdiag/queries/dataflow.py
  gcpdiag/queries/dataflow_stub.py
  gcpdiag/runbook/dataflow/constants.py
  gcpdiag/runbook/dataflow/failed_batch_pipeline.py
  gcpdiag/runbook/dataflow/failed_batch_pipeline_test.py
  gcpdiag/runbook/dataflow/failed_streaming_pipeline.py
  gcpdiag/runbook/dataflow/failed_streaming_pipeline_test.py
  gcpdiag/runbook/dataflow/generalized_steps.py
  gcpdiag/runbook/dataflow/generalized_steps_test.py
  gcpdiag/runbook/dataflow/snapshots/failed_batch_pipeline.txt
  gcpdiag/runbook/dataflow/snapshots/failed_streaming_pipeline.txt
  gcpdiag/runbook/dataflow/templates/generics.jinja
  test-data/dataflow1/Makefile
  test-data/dataflow1/json-dumps/dataflow-jobs-us-central1-batch.json
  test-data/dataflow1/project.tf
  website/content/en/runbook/diagnostic-trees/dataflow/failed-batch-pipeline.md
  website/content/en/runbook/steps/dataflow/batch-elapsed-time.md
  website/content/en/runbook/steps/dataflow/batch-failed-job-logs.md
  website/content/en/runbook/steps/dataflow/batch-throughput.md
  website/content/en/runbook/steps/dataflow/batch-worker-metrics.md
  website/content/en/runbook/steps/dataflow/dataflow-quotas.md
  website/content/en/runbook/steps/dataflow/failed-batch-pipeline-end.md
  website/content/en/runbook/steps/dataflow/failed-batch-pipeline-start.md
  website/content/en/runbook/steps/dataflow/job-graph-is-constructed.md
  website/content/en/runbook/steps/dataflow/job-is-batch.md
  website/content/en/runbook/steps/dataflow/job-log-errors.md
  website/content/en/runbook/steps/dataflow/job-logs-visible.md
  website/content/en/runbook/steps/dataflow/slow-job-logs.md
Due: gcpdiag-custom-runbook-rule

Merge "Rename Ruff hook id to Ruff Check" -- Branch commit log -- commit d6ce93115b48fd81159203115fa0cd584a0704f2 Author: gcpdiag team <noreply@google.com> Date: 2026-06-08T07:58:33Z
  .pre-commit-config.yaml
Due: none

Fix safety dependency check that is blocking unit test execution in
  Makefile
  Pipfile.lock
Due: none

iam: gracefully handle org-level custom role permission actions under inspection tokens.
  gcpdiag/hooks.py
  gcpdiag/queries/crm.py
  gcpdiag/queries/iam.py
Due: none

Merge "Bug: 521350610 - Fix bugs for Dataflow Runbooks" -- Branch commit log -- commit f65a74997ef4e70b33d3a4014f61d74af95a3c99 Author: Ian Mburu <mburuian@google.com> Date: 2026-06-22T15:00:07Z
  gcpdiag/runbook/dataflow/generalized_steps.py
Due: gcpdiag-custom-runbook-rule

spelling: may be
  gcpdiag/lint/command.py
Due: none

Added validation for output flag
  gcpdiag/lint/command.py
  gcpdiag/lint/command_test.py
Due: none

Merge "Analyse solutions for LRU cache regressions" -- Branch commit log -- commit 9def16e02a5a91e2a980bcb2ead70b20180a569f Author: gcpdiag team <noreply@google.com> Date: 2026-05-15T11:49:06Z
  Pipfile
  Pipfile.lock
  gcpdiag/caching.py
  gcpdiag/queries/crm_test.py
  gcpdiag/queries/iam_test.py
Due: none

fix(build): ignore check-gke-ingress download failure to unblock build
  docker/gcpdiag/Makefile
Due: none

Merge "tagging implementaton for lint rules and runbooks" -- Branch commit log -- commit cd4e1ca13869ee1ed196dd3aa1e88d5442b50b7f Author: gcpdiag team <noreply@google.com> Date: 2026-07-01T11:39:36Z
  gcpdiag/config.py
  gcpdiag/lint/__init__.py
  gcpdiag/lint/command.py
  gcpdiag/lint/command_test.py
  gcpdiag/lint/gce/bp_2021_001_serial_logging_enabled.py
  gcpdiag/lint/gke/bp_2021_001_cloudops_enabled.py
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/command.py
  gcpdiag/runbook/command_test.py
  gcpdiag/runbook/gce/guestos_bootup.py
  gcpdiag/runbook/gke/image_pull.py
Due: gcpdiag-custom-rule, gcpdiag-custom-runbook-rule

Merge "Fixes : 516823167" -- Branch commit log -- commit 44591944da5d7141ee8e1a03148e04271ec46b45 Author: gcpdiag team <noreply@google.com> Date: 2026-05-26T20:13:52Z
  gcpdiag/queries/composer.py
  gcpdiag/runbook/composer/__init__.py
  gcpdiag/runbook/composer/scheduler_issues.py
  gcpdiag/runbook/composer/scheduler_issues_test.py
  gcpdiag/runbook/composer/snapshots/scheduler_issues.txt
  gcpdiag/runbook/composer/templates/scheduler.jinja
  website/content/en/runbook/diagnostic-trees/composer/_index.md
  website/content/en/runbook/diagnostic-trees/composer/scheduler-issues.md
  website/content/en/runbook/steps/composer/_index.md
  website/content/en/runbook/steps/composer/check-deleted-airflow-scheduler-deployment.md
  website/content/en/runbook/steps/composer/check-scheduler-exceeded-runs.md
  website/content/en/runbook/steps/composer/deleted-environment-service-account.md
  website/content/en/runbook/steps/composer/disabled-environment-service-account.md
  website/content/en/runbook/steps/composer/end-step.md
  website/content/en/runbook/steps/composer/log-check-step.md
  website/content/en/runbook/steps/composer/scheduler-cpu-utilization.md
  website/content/en/runbook/steps/composer/scheduler-health-check.md
  website/content/en/runbook/steps/composer/scheduler-issues-start.md
  website/content/en/runbook/steps/composer/scheduler-liveness-probe-check.md
  website/content/en/runbook/steps/composer/shared-vpc-org-policy-constraint.md
Due: gcpdiag-custom-runbook-rule

feat: add rule to flag under-provisioned Cloud SQL shared-core instances
  gcpdiag/lint/cloudsql/bp_2026_001_underprovisioned.py
  gcpdiag/lint/cloudsql/cloudsql_rules_snapshot_test.py
  gcpdiag/lint/cloudsql/snapshots/BP_2026_001.txt
  gcpdiag/queries/apis_stub.py
  gcpdiag/queries/cloudsql.py
  gcpdiag/queries/cloudsql_test.py
  test-data/cloudsql3/Makefile
  test-data/cloudsql3/json-dumps/cloudsql-instances.json
  test-data/cloudsql3/json-dumps/iam-policy.json
  test-data/cloudsql3/json-dumps/monitoring-query.json
  test-data/cloudsql3/json-dumps/project.json
  test-data/cloudsql3/json-dumps/services.json
  test-data/cloudsql3/project.tf
  test-data/cloudsql3/sql1.tf
  test-data/cloudsql3/variables.tf
  website/content/en/rules/cloudsql/BP/2026_001.md
Due: gcpdiag-custom-rule

Merge "Runbook For Airflow Worker Restarts." -- Branch commit log -- commit 64d06e1e63fe8b4fd355ab7e0868e7c4bb3e732f Author: gcpdiag team <noreply@google.com> Date: 2026-08-04T20:31:32Z
  gcpdiag/runbook/composer/runbook_airflow_worker_restart.py
  gcpdiag/runbook/composer/runbook_airflow_worker_restart_test.py
  gcpdiag/runbook/composer/snapshots/runbook_airflow_worker_restart.txt
  gcpdiag/runbook/composer/templates/airflow.jinja
  website/content/en/runbook/diagnostic-trees/composer/runbook-airflow-worker-restart.md
  website/content/en/runbook/steps/composer/_-log-check-step.md
  website/content/en/runbook/steps/composer/check-ephemeral-storage.md
  website/content/en/runbook/steps/composer/check-gcs-syncd-ephemeral-storage-limit.md
  website/content/en/runbook/steps/composer/check-gke-preemption.md
  website/content/en/runbook/steps/composer/check-liveness-probes.md
  website/content/en/runbook/steps/composer/check-scheduling-failures.md
  website/content/en/runbook/steps/composer/check-worker-oom.md
  website/content/en/runbook/steps/composer/check-zombie-tasks.md
  website/content/en/runbook/steps/composer/infrastructure-checks.md
  website/content/en/runbook/steps/composer/worker-restart-start.md
Due: gcpdiag-custom-runbook-rule

Merge "feat(gke): check DNS provider for NodeLocal DNS" -- Branch commit log -- commit f63855bbe6f6f8e794fffaf70799351f54ddbe34 Author: gcpdiag team <noreply@google.com> Date: 2026-05-14T22:36:20Z
  gcpdiag/lint/gke/bp_2025_001_gke_nodelocal_dnscache_enabled.py
  gcpdiag/lint/gke/snapshots/BP_2025_001.txt
  gcpdiag/queries/gke.py
  gcpdiag/queries/gke_test.py
  test-data/gke1/gke5.tf
  test-data/gke1/json-dumps/container-clusters.json
  website/content/en/rules/gke/BP/2025_001.md
Due: gcpdiag-custom-rule

Merge "Migrate from safety to osv-scanner" -- Branch commit log -- commit c4819283894ad4225bdba91754c54de4ee5d5be2 Author: gcpdiag team <noreply@google.com> Date: 2026-07-14T13:38:42Z
  .pre-commit-config.yaml
  .safety-policy.yml
  Makefile
  Pipfile
  Pipfile.lock
  bin/precommit-osv-scanner
  osv-scanner.toml
  requirements.in
  requirements.txt
  website/content/en/docs/development/architecture.md
Due: none

Path conditions:
  gcpdiag-custom-rule: any of: ^gcpdiag/lint/[^/]+/(bp|warn|err|sec)_.*.py and not (.*_test.py) and not (/snapshots/)
  gcpdiag-custom-runbook-rule: any of: ^gcpdiag/runbook/[^/]+/.*.py and not (.*_test.py| ^gcpdiag/runbook/(output|report)| ^gcpdiag/runbook/[^/]+/snapshots/| ^gcpdiag/runbook/[^/]+/(constants|command|flags|util).py| ^gcpdiag/runbook/(constants|command|flags|exceptions|report|util).py
) and not (/snapshots/)
