Repository GoogleCloudPlatform/gcpdiag: changes, and which pre-commit hooks are due for each by the changed paths.
All: gcpdiag-custom-rule, gcpdiag-custom-runbook-rule

gcpdiag-custom-rule:
  name: Check that there are required files for each lint rule
  entry: ./bin/precommit-required-files-wrapper lint
  language: script

gcpdiag-custom-runbook-rule:
  name: Check and generate runbook docs
  entry: ./bin/precommit-required-files-wrapper runbook
  language: script

Fix broken pipenv installation in GitHub Actions workflow
  .github/workflows/test.yml
Due: none

Improve latency of unhealthy_backends by caching the requests
  gcpdiag/queries/lb.py
  gcpdiag/runbook/gce/generalized_steps.py
  gcpdiag/runbook/lb/snapshots/unhealthy_backends.txt
  gcpdiag/runbook/lb/unhealthy_backends.py
  website/content/en/runbook/steps/gce/vm-lifecycle-state.md
Due: gcpdiag-custom-runbook-rule

Adding the Access Denied error case and remediation to the catalog. No code changes
  gcpdiag/runbook/bigquery/constants.py
Due: gcpdiag-custom-runbook-rule

Take health check region from its uri not from the load balancer - internal regional passthrough load balancer uses global health checks
  gcpdiag/queries/gce.py
  gcpdiag/queries/lb.py
  gcpdiag/queries/lb_test.py
  gcpdiag/runbook/lb/unhealthy_backends.py
Due: gcpdiag-custom-runbook-rule

Added a small adk agent to evaluate how it works
  .gitignore
  agent/__init__.py
  agent/agent.py
  agent/agentcli.py
  gcpdiag/mcp_server.py
  gcpdiag/test_mcp.py
  gcpdiag/test_mcplocal.py
  pyproject.toml
  uv.lock
Due: none

remove old tests
  gcpdiag/test_mcp.py
  gcpdiag/test_mcplocal.py
Due: none

Bump version: 0.80-test -> 0.81-test
  .bumpversion.cfg
  gcpdiag/config.py
Due: none

Moved agent to gcpdiag, fixed to work in gemini-cli
  agent/__init__.py
  agent/agent.py
  agent/agentcli.py
  gcpdiag/agent.py
  gcpdiag/mcp_server.py
  pyproject.toml
Due: none

Update requirements and project, add a starter for adk
  adk.py
  pyproject.toml
  requirements.txt
Due: none

Finally - both ADK and MCP running in same server
  .gcloudignore
  main.py
Due: none

Fix summary for Bundle CLI output
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/runbook_test.py
Due: none

Added few more deps for agents
  requirements.txt
Due: none

Add a gemin-extension example
  gemini-extension.json
Due: none

Improve messages for some checks as according to the feedback they might not be explaining the issue accurately
  gcpdiag/runbook/lb/snapshots/unhealthy_backends.txt
  gcpdiag/runbook/lb/templates/unhealthy_backends.jinja
  gcpdiag/runbook/lb/unhealthy_backends.py
  website/content/en/runbook/steps/lb/validate-backend-service-port-configuration.md
  website/content/en/runbook/steps/lb/validate-backend-service-protocol-configuration.md
Due: gcpdiag-custom-runbook-rule

Merge "updated SHA tag for ubunutu:24.04 bug: 440577581" -- Branch commit log -- commit bf8c44d886f4a1314474b9dd8a3dcd451279a0ff Author: gcpdiag team <noreply@google.com> Date: 2025-09-18T07:05:10Z
  .devcontainer/devcontainer.json
  docker/pipenv-python-3.12/Dockerfile
  docker/pipenv-python-3.12/Makefile
Due: none

interconnect runbook modification : BGP down or flap
  gcpdiag/queries/interconnect.py
  gcpdiag/runbook/interconnect/bgp_down_flap.py
  gcpdiag/runbook/interconnect/bgp_down_flap_test.py
  gcpdiag/runbook/interconnect/flags.py
  gcpdiag/runbook/interconnect/snapshots/bgp_down_flap.txt
  gcpdiag/runbook/interconnect/templates/bgp_down_flap.jinja
  test-data/interconnect1/json-dumps/compute-routers-routerStatus-dummy-router11.json
  test-data/interconnect1/json-dumps/compute-routers-routerStatus-dummy-router3.json
  test-data/interconnect1/json-dumps/compute-routers-us-central1.json
  test-data/interconnect1/json-dumps/compute-routers-us-west2.json
  test-data/interconnect1/json-dumps/interconnect-attachments.json
  test-data/interconnect1/json-dumps/logging-entries-1.json
  website/content/en/runbook/diagnostic-trees/interconnect/bgp-down-flap.md
  website/content/en/runbook/steps/interconnect/bgp-down-flap-end.md
  website/content/en/runbook/steps/interconnect/bgp-down-flap-start.md
  website/content/en/runbook/steps/interconnect/check-bgp-down.md
  website/content/en/runbook/steps/interconnect/check-bgp-flap.md
  website/content/en/runbook/steps/interconnect/check-cloud-router-maintenance.md
  website/content/en/runbook/steps/interconnect/check-interconnect-maintenance.md
Due: gcpdiag-custom-runbook-rule

interconnect runbook minor correction
  gcpdiag/runbook/interconnect/bgp_down_flap.py
Due: gcpdiag-custom-runbook-rule

Merge "Fixes: 367961263 Add push subscription runbook" -- Branch commit log -- commit 9ace791c6630771dc8d6d5e548acce7ec3128ba3 Author: Ian Mburu <mburuian@google.com> Date: 2025-09-07T16:19:58Z
  gcpdiag/queries/pubsub.py
  gcpdiag/runbook/pubsub/generalized_steps.py
  gcpdiag/runbook/pubsub/pull_subscription_delivery.py
  gcpdiag/runbook/pubsub/push_subscription_delivery.py
  gcpdiag/runbook/pubsub/push_subscription_delivery_test.py
  gcpdiag/runbook/pubsub/snapshots/pull_subscription_delivery.txt
  gcpdiag/runbook/pubsub/snapshots/push_subscription_delivery.txt
  gcpdiag/runbook/pubsub/templates/generics.jinja
  test-data/pubsub1/Makefile
  test-data/pubsub1/json-dumps/bq-subscription.json
  website/content/en/runbook/diagnostic-trees/pubsub/push-subscription-delivery.md
  website/content/en/runbook/steps/pubsub/active-subscription.md
  website/content/en/runbook/steps/pubsub/dead-letter-topic-permissions.md
  website/content/en/runbook/steps/pubsub/dead-letter-topic.md
  website/content/en/runbook/steps/pubsub/pubsub-quotas.md
  website/content/en/runbook/steps/pubsub/push-subscription-delivery-end.md
  website/content/en/runbook/steps/pubsub/push-subscription-delivery-start.md
  website/content/en/runbook/steps/pubsub/push_subscription_delivery-end.md
  website/content/en/runbook/steps/pubsub/response-code-step.md
  website/content/en/runbook/steps/pubsub/throughput-qualification.md
  website/content/en/runbook/steps/pubsub/vpc-sc-step.md
Due: gcpdiag-custom-runbook-rule

Improve parameter handling for gcpdiag api lint rule fixes: 445211349
  gcpdiag/lint/command.py
  gcpdiag/lint/command_test.py
Due: none

feat(runbook): Enhance GCE diagnostic steps and checks
  gcpdiag/lint/gke/snapshots/BP_2023_002.txt
  gcpdiag/queries/gce.py
  gcpdiag/queries/gce_test.py
  gcpdiag/runbook/dataproc/snapshots/cluster_creation.txt
  gcpdiag/runbook/gce/constants.py
  gcpdiag/runbook/gce/flags.py
  gcpdiag/runbook/gce/generalized_steps.py
  gcpdiag/runbook/gce/snapshots/vm_termination.txt
  gcpdiag/runbook/gce/ssh.py
  gcpdiag/runbook/gce/templates/instance_property.jinja
  gcpdiag/runbook/gce/templates/mig_autoscaling.jinja
  gcpdiag/runbook/gce/templates/vm_metadata.jinja
  gcpdiag/runbook/gce/vm_termination.py
  gcpdiag/runbook/gcp/flags.py
  gcpdiag/runbook/logs/templates/logging.jinja
  gcpdiag/runbook/util.py
  website/content/en/runbook/diagnostic-trees/gce/vm-termination.md
  website/content/en/runbook/steps/gce/gce-iam-policy-check.md
  website/content/en/runbook/steps/gce/gce-log-check.md
  website/content/en/runbook/steps/gce/instance-property-check.md
  website/content/en/runbook/steps/gce/mig-autoscaling-policy-check.md
  website/content/en/runbook/steps/gce/vm-duplicate-ssh-keys-check.md
  website/content/en/runbook/steps/logs/check-issue-log-entry.md
Due: gcpdiag-custom-runbook-rule

This commit refactors the GCE instance resolution logic within the runbook steps. A centralized ensure_instance_resolved utility function has been introduced in __init__.py.
  gcpdiag/runbook/gce/generalized_steps.py
  gcpdiag/runbook/gce/ssh.py
  gcpdiag/runbook/gce/util/__init__.py
  gcpdiag/runbook/gce/vm_termination.py
Due: gcpdiag-custom-runbook-rule

Merge "Investigate & fix lint rule execution failure" -- Branch commit log -- commit d2944f2fe94c709bf270b3b6d263a11e0e8fb1b0 Author: gcpdiag team <noreply@google.com> Date: 2025-10-10T11:23:08Z
  gcpdiag/queries/composer.py
Due: none

Fix gcpdiag execute steps failure
  gcpdiag/runbook/exceptions.py
  gcpdiag/runbook/gce/generalized_steps.py
  gcpdiag/runbook/gce/ssh.py
  gcpdiag/runbook/gce/util/__init__.py
  gcpdiag/runbook/gce/vm_termination.py
Due: gcpdiag-custom-runbook-rule

feat(gce): Enhance instance filtering to include instance ID
  gcpdiag/queries/gce.py
  gcpdiag/queries/gce_test.py
Due: none

Fix gcpdiag github vulnerabilities bug: 442823999
  Pipfile
  Pipfile.lock
  docker/hugo/Dockerfile
  gcpdiag/queries/lb_test.py
  gcpdiag/runbook/lb/unhealthy_backends.py
Due: gcpdiag-custom-runbook-rule

feat: inject context provider into runbook operators
  gcpdiag/runbook/__init__.py
Due: none

fix: ensure `cached_api_call` always re-raises exceptions and add test for exception propagation when cache is disabled.
  gcpdiag/caching.py
  gcpdiag/caching_test.py
Due: none

feat: update GCE lint rules and test data to improve resource availability checks and snapshot reporting.
  gcpdiag/lint/gce/snapshots/BP_2023_001.txt
  gcpdiag/lint/gce/snapshots/ERR_2021_001.txt
  gcpdiag/lint/gce/snapshots/ERR_2021_004.txt
  gcpdiag/lint/gce/snapshots/ERR_2021_005.txt
  gcpdiag/lint/gce/snapshots/ERR_2022_002.txt
  gcpdiag/lint/gce/snapshots/ERR_2024_001.txt
  gcpdiag/lint/gce/snapshots/WARN_2021_001.txt
  gcpdiag/lint/gce/snapshots/WARN_2021_004.txt
  gcpdiag/lint/gce/snapshots/WARN_2021_005.txt
  gcpdiag/lint/gce/snapshots/WARN_2021_006.txt
  gcpdiag/lint/gce/snapshots/WARN_2021_007.txt
  gcpdiag/lint/gce/snapshots/WARN_2022_010.txt
  gcpdiag/lint/gce/warn_2022_010_resource_availability.py
  test-data/gce1/json-dumps/logging-entries-1.json
  test-data/gce1/json-dumps/services.json
  website/content/en/runbook/steps/pubsub/end-step.md
  website/content/en/runbook/steps/pubsub/start-step.md
Due: gcpdiag-custom-rule

Pin dependencies using hashes bug: 442823999
  .github/workflows/code-analysis.yml
  .github/workflows/test.yml
  docker/pipenv-python-3.7/Dockerfile
  docker/pipenv-python-3.9/Dockerfile
  requirements.in
  requirements.txt
Due: none

Fix broken github workflow bug: 462767968
  requirements.in
  requirements.txt
Due: none

Modify pip install command to include --no-deps
  .github/workflows/test.yml
Due: none

Add safety package to Pipfile
  Pipfile
Due: none

update lock
  Pipfile.lock
Due: none

Merge "Automatically get zone from gce instance number" -- Branch commit log -- commit b108120adf555b6c2d5ad5f10e123d88b70ea776 Author: gcpdiag team <noreply@google.com> Date: 2025-11-25T14:05:22Z
  gcpdiag/queries/gce.py
  gcpdiag/queries/gce_test.py
  gcpdiag/runbook/gce/util/__init__.py
Due: gcpdiag-custom-runbook-rule

deps: update dependancies.
  Pipfile.lock
  requirements.txt
Due: none

Implement coverage command in gcpdiag library
  Makefile
  README.md
Due: none

chore: Migrate gsutil usage to gcloud storage
  docker/gcpdiag/Makefile
  test-data/gcb1/trigger.tf
Due: none

Fix Unbound Local error in vm_performance.py bug: 470768940 Change-Id: Ie9c96f3843407ef2f89c8e7b35d8d05204acb105
  gcpdiag/runbook/gce/vm_performance.py
Due: gcpdiag-custom-runbook-rule

Merge "improve coverage % of bgp down flap bug: 468306996" -- Branch commit log -- commit e65df036b254c25d6b1ea8decf55da35e6ba2031 Author: gcpdiag team <noreply@google.com> Date: 2026-01-07T10:31:31Z
  gcpdiag/runbook/interconnect/bgp_down_flap.py
  gcpdiag/runbook/interconnect/bgp_down_flap_test.py
Due: gcpdiag-custom-runbook-rule

Path conditions:
  gcpdiag-custom-rule: any of: ^gcpdiag/lint/[^/]+/(bp|warn|err|sec)_.*.py and not (.*_test.py) and not (/snapshots/)
  gcpdiag-custom-runbook-rule: any of: ^gcpdiag/runbook/[^/]+/.*.py and not (.*_test.py| ^gcpdiag/runbook/(output|report)| ^gcpdiag/runbook/[^/]+/snapshots/| ^gcpdiag/runbook/[^/]+/(constants|command|flags|util).py| ^gcpdiag/runbook/(constants|command|flags|exceptions|report|util).py
) and not (/snapshots/)
