Repository GoogleCloudPlatform/gcpdiag: changes, and which pre-commit hooks are due for each by the changed paths.
All: gcpdiag-custom-rule, gcpdiag-custom-runbook-rule

.pre-commit-config.yaml:

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

exclude: '/snapshots/'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=600']
  - id: check-ast
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: .bumpversion.cfg

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade
    args: [--py36-plus]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: (^test-data/.*|^.*_test\.py$|^.*_unittest\.py$|^.*\.lock$|^pyinstaller/.*$|^.*\.spec$|^website/content/en/runbook/.*$|^gcpdiag/lint/snapshots/.*$|^gcpdiag/runbook/snapshots/.*$)

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.2.0
  hooks:
  - id: mypy
    exclude: bin/gcpdiag
    args: ['--ignore-missing-imports', '--scripts-are-modules',
      '--implicit-optional', '--no-namespace-packages', '--install-types',
      '--non-interactive']

- repo: https://github.com/timothycrosley/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/google/yapf
  rev: v0.40.2
  hooks:
  - id: yapf

- repo: https://github.com/pylint-dev/pylint
  rev: v3.3.1
  hooks:
  - id: pylint

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.96.1
  hooks:
  - id: terraform_fmt
  - id: terraform_validate

- repo: local
  hooks:
  - id: gcpdiag-custom-rule
    name: Check that there are required files for each lint rule
    entry: ./bin/precommit-required-files-wrapper lint
    language: script
    files: ^gcpdiag/lint/[^/]+/(bp|warn|err|sec)_.*.py
    exclude: .*_test.py
- repo: local
  hooks:
  - id: gcpdiag-custom-runbook-rule
    name: Check and generate runbook docs
    entry: ./bin/precommit-required-files-wrapper runbook
    language: script
    files: ^gcpdiag/runbook/[^/]+/.*.py
    exclude: >
      .*_test.py|
      ^gcpdiag/runbook/(output|report)|
      ^gcpdiag/runbook/[^/]+/snapshots/|
      ^gcpdiag/runbook/[^/]+/(constants|command|flags|util).py|
      ^gcpdiag/runbook/(constants|command|flags|exceptions|report|util).py
- repo: local
  hooks:
  - id: todo-annotations
    name: Check presence of "TODO:" comments
    entry: ./bin/precommit-todo-annotations
    language: script
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.13.0
  hooks:
  - id: markdownlint
    files: \.(jinja)$
    entry: mdl --rules MD034

Merge "adding try except blocks in get_backend_service" -- Branch commit log -- commit bf59541852f5b60987c8122af8c499a603675395 Author: gcpdiag team <noreply@google.com> Date: 2025-07-09T10:32:56Z
  gcpdiag/queries/lb.py
Due: none

Update website content to fix recently broken presubmits bug: 432731324
  website/content/en/runbook/steps/logs/check-issue-log-entry.md
Due: none

Merge "Implement CLI step execution improvements" -- Branch commit log -- commit 810e1d2203a29775337a5163f16005223d953462 Author: gcpdiag team <noreply@google.com> Date: 2025-06-03T15:46:39Z
  gcpdiag/runbook/report.py
  gcpdiag/runbook/report_test.py
Due: none

Improve user facing errors
  gcpdiag/runbook/__init__.py
Due: none

Merge "New Looker Lint rule" -- Branch commit log -- commit 1878b3d73020345bbfc86a5ede1306d605fbee21 Author: gcpdiag team <noreply@google.com> Date: 2025-03-05T13:30:15Z
  gcpdiag/lint/looker/__init__.py
  gcpdiag/lint/looker/bp_2025_001_get_all_instances.py
  gcpdiag/lint/looker/looker_rules_snapshot_test.py
  gcpdiag/lint/looker/snapshots/BP_2025_001.txt
  gcpdiag/queries/apis_stub.py
  gcpdiag/queries/looker.py
  gcpdiag/queries/looker_stub.py
  gcpdiag/queries/looker_test.py
  test-data/looker1/Makefile
  test-data/looker1/json-dumps/logging-entries-1.json
  test-data/looker1/json-dumps/looker.json
  test-data/looker1/json-dumps/project.json
  test-data/looker1/json-dumps/services.json
  test-data/looker1/project.tf
  test-data/looker1/variables.tf
  website/content/en/rules/looker/BP/2025_001.md
Due: gcpdiag-custom-rule

implement firewall rules bug: 421269551
  gcpdiag/queries/network.py
  gcpdiag/queries/network_test.py
  gcpdiag/runbook/gce/snapshots/ssh.txt
  test-data/fw-policy/json-dumps/compute-effective-firewalls-default.json
Due: none

Merge "acess min_cpu_platform bug: 421758512" -- Branch commit log -- commit 7204950ec4a762530a85bbdd5c19c90a8aa5ffb6 Author: gcpdiag team <noreply@google.com> Date: 2025-06-19T10:56:25Z
  gcpdiag/queries/gce.py
  gcpdiag/queries/gce_test.py
  gcpdiag/runbook/gce/snapshots/vm_performance.txt
  gcpdiag/runbook/gce/vm_performance.py
  gcpdiag/runbook/gce/vm_performance_test.py
  test-data/gce1/json-dumps/compute-instances-europe-west4-a.json
Due: gcpdiag-custom-runbook-rule

Merge "Add new dataflow Jobs aggregated query" -- Branch commit log -- commit 3c1a9c3ee8d4cdfd493f7f90b2631bda9d5b9139 Author: gcpdiag team <noreply@google.com> Date: 2025-07-23T07:45:18Z
  gcpdiag/queries/dataflow.py
  gcpdiag/queries/dataflow_stub.py
  gcpdiag/queries/dataflow_test.py
  test-data/dataflow1/Makefile
  test-data/dataflow1/json-dumps/dataflow-jobs-aggregated.json
Due: none

Add a gateway step
  gcpdiag/runbook/dataproc/generalized_steps.py
  gcpdiag/runbook/dataproc/snapshots/spark_job_failures.txt
  gcpdiag/runbook/dataproc/spark_job_failures.py
  gcpdiag/runbook/dataproc/templates/job.jinja
  website/content/en/runbook/diagnostic-trees/dataproc/spark-job-failures.md
  website/content/en/runbook/steps/dataproc/job-details-dependency-gateway.md
  website/content/en/runbook/steps/dataproc/job-start.md
Due: gcpdiag-custom-runbook-rule

Committing fixes for change 2318636
  gcpdiag/runbook/bigquery/snapshots/failed_query.txt
  test-data/bigquery1/json-dumps/job_get_invalid-region_id.json
  test-data/bigquery1/json-dumps/job_get_us_notfound.json
  test-data/cloudsql1/json-dumps/iam-policy.json
Due: none

Fixing github errors
  gcpdiag/queries/bigquery.py
  gcpdiag/runbook/bigquery/failed_query.py
  gcpdiag/runbook/bigquery/generalized_steps.py
Due: gcpdiag-custom-runbook-rule

Add step to vm_creation.py bug: 421750938
  gcpdiag/runbook/gce/flags.py
  gcpdiag/runbook/gce/vm_creation.py
  website/content/en/runbook/diagnostic-trees/gce/vm-creation.md
Due: gcpdiag-custom-runbook-rule

updated error message with readme file github link
  gcpdiag/runbook/__init__.py
Due: none

Fixing spelling errors in constants.py Updating bigquery.py to fix the bug where the permission check is not skipped when the appropriate flag is passed.
  gcpdiag/queries/bigquery.py
  gcpdiag/runbook/bigquery/constants.py
  gcpdiag/runbook/bigquery/failed_query.py
  gcpdiag/runbook/bigquery/failed_query_test.py
  gcpdiag/runbook/bigquery/snapshots/failed_query.txt
Due: gcpdiag-custom-runbook-rule

improve speed of node_auto_repair runbook to fail faster
  gcpdiag/runbook/gke/node_auto_repair.py
Due: gcpdiag-custom-runbook-rule

feat: Add Dataproc Networking Diagnostic Runbook
  gcpdiag/runbook/dataproc/__init__.py
  gcpdiag/runbook/dataproc/cloud_nat.py
  gcpdiag/runbook/dataproc/cloud_nat_test.py
  gcpdiag/runbook/dataproc/cloud_vpn_and_interconnect.py
  gcpdiag/runbook/dataproc/cloud_vpn_and_interconnect_test.py
  gcpdiag/runbook/dataproc/dns.py
  gcpdiag/runbook/dataproc/dns_test.py
  gcpdiag/runbook/dataproc/firewall.py
  gcpdiag/runbook/dataproc/firewall_test.py
  gcpdiag/runbook/dataproc/networking_runbook.py
  gcpdiag/runbook/dataproc/private_google_access.py
  gcpdiag/runbook/dataproc/private_google_access_test.py
  gcpdiag/runbook/dataproc/private_service_connect.py
  gcpdiag/runbook/dataproc/private_service_connect_test.py
  gcpdiag/runbook/dataproc/secure_web_proxy.py
  gcpdiag/runbook/dataproc/secure_web_proxy_test.py
  gcpdiag/runbook/dataproc/security_and_iam.py
  gcpdiag/runbook/dataproc/security_and_iam_test.py
  gcpdiag/runbook/dataproc/service_accounts.py
  gcpdiag/runbook/dataproc/service_accounts_test.py
  gcpdiag/runbook/dataproc/templates/networking.jinja
  gcpdiag/runbook/dataproc/vpc_peering.py
  gcpdiag/runbook/dataproc/vpc_peering_test.py
  gcpdiag/runbook/dataproc/vpc_service_controls.py
  gcpdiag/runbook/dataproc/vpc_service_controls_test.py
Due: gcpdiag-custom-runbook-rule

Fix bq snapshots that fail locally. bug: 436573641
  gcpdiag/runbook/bigquery/snapshots/failed_query.txt
  gcpdiag/runbook/snapshot_test_base.py
Due: none

Improve logging and logic in job_failure
  gcpdiag/runbook/dataproc/snapshots/spark_job_failures.txt
  gcpdiag/runbook/dataproc/spark_job_failures.py
  gcpdiag/runbook/dataproc/templates/job.jinja
  gcpdiag/runbook/dataproc/templates/permissions.jinja
  website/content/en/runbook/diagnostic-trees/dataproc/spark-job-failures.md
  website/content/en/runbook/steps/dataproc/check-permissions.md
  website/content/en/runbook/steps/dataproc/job-start.md
Due: gcpdiag-custom-runbook-rule

Merge "Add support for gateway step execution" -- Branch commit log -- commit 16a1e53cbb19c04f29271bc24a874085cbbb8691 Author: gcpdiag team <noreply@google.com> Date: 2025-07-30T06:31:54Z
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/runbook_test.py
Due: none

Add a programmatic command interface and few fixes.
  gcpdiag/runbook/command.py
  gcpdiag/runbook/report.py
  gcpdiag/search/command.py
Due: none

Merge "update hugo & docsy version bug: 434507860" -- Branch commit log -- commit 0c9040c40e1ae1d207d96f3d87b90472a51acf85 Author: gcpdiag team <noreply@google.com> Date: 2025-08-06T09:18:29Z
  docker/hugo/Dockerfile
  docker/hugo/Makefile
  website/config.toml
  website/go.mod
  website/go.sum
  website/hugo.sh
Due: none

Merge "resolved the comments took action on the comments" -- Branch commit log -- commit cc179808cb96aec954dc1c2668bc744e1e6868d6 Author: gcpdiag team <noreply@google.com> Date: 2025-07-24T04:10:54Z
  gcpdiag/lint/looker/bp_2025_002_lsp_high_intensity_queries_bq.py
  gcpdiag/lint/looker/snapshots/BP_2025_002.txt
  test-data/looker1/Makefile
  test-data/looker1/json-dumps/logging-entries-1.json
  website/content/en/rules/looker/BP/2025_002.md
Due: gcpdiag-custom-rule

Merge "final version get_operations + get_instances" -- Branch commit log -- commit abfc5fa91cac2ab860b061142180dd5b5fd3f4d0 Author: gcpdiag team <noreply@google.com> Date: 2025-08-11T05:36:53-07:00
  gcpdiag/lint/looker/bp_2025_003_get_all_lags_operations.py
  gcpdiag/lint/looker/snapshots/BP_2025_001.txt
  gcpdiag/lint/looker/snapshots/BP_2025_003.txt
  gcpdiag/queries/looker.py
  gcpdiag/queries/looker_stub.py
  gcpdiag/queries/looker_test.py
  test-data/looker1/json-dumps/looker-instances.json
  test-data/looker1/json-dumps/operation.json
  website/content/en/rules/looker/BP/2025_001.md
  website/content/en/rules/looker/BP/2025_003.md
  website/content/en/rules/looker/_index.md
Due: gcpdiag-custom-rule

Merge "gke monitoring checks - bug:358308061" -- Branch commit log -- commit fc999ef567def4c24ac734875bf40bd9476b8286 Author: gcpdiag team <noreply@google.com> Date: 2025-05-14T09:50:10Z
  gcpdiag/runbook/gke/generalized_steps.py
  gcpdiag/runbook/gke/monitoring_configuration.py
  gcpdiag/runbook/gke/monitoring_configuration_test.py
  gcpdiag/runbook/gke/snapshots/monitoring_configuration.txt
  gcpdiag/runbook/gke/templates/monitoring_configuration.jinja
  website/content/en/runbook/diagnostic-trees/gke/monitoring-configuration.md
  website/content/en/runbook/steps/gke/api-enabled.md
  website/content/en/runbook/steps/gke/cluster-level-monitoring-configuration-enabled.md
  website/content/en/runbook/steps/gke/monitoring-api-configuration-enabled.md
  website/content/en/runbook/steps/gke/monitoring-configuration-end.md
  website/content/en/runbook/steps/gke/monitoring-configuration-start.md
  website/content/en/runbook/steps/gke/node-pool-cloud-monitoring-access-scope-configuration.md
  website/content/en/runbook/steps/gke/node-pool-scope.md
  website/content/en/runbook/steps/gke/service-account-monitoring-permission-configuration.md
  website/content/en/runbook/steps/gke/service-account-permission.md
Due: gcpdiag-custom-runbook-rule

Fix looker tests to rely on current time and not hardcoded dates. Stub get_operations method. bug: 385684722
  gcpdiag/lint/looker/bp_2025_003_get_all_lags_operations.py
  gcpdiag/lint/looker/snapshots/BP_2025_003.txt
  gcpdiag/queries/looker_stub.py
  gcpdiag/queries/looker_test.py
Due: gcpdiag-custom-rule

update hugo version in test.yml file bug: 434507860
  .github/workflows/test.yml
Due: none

Fix broken github worfklows post hugo image update bug: 439815596 Change-Id: Ibd5de4bcbbc985885c828c6d8d3b70dac4ef2461
  .github/workflows/test.yml
Due: none

fix broken github workflow bug: 439815596 Change-Id: I14db2beda44dac4ceaed4ad8867358bdbe4b2437
  .github/workflows/test.yml
Due: none

update test.yml to fix broken github workflow bug: 439815596
  .github/workflows/test.yml
Due: none

update test.yml file to fix broken github workflow post hugo img update bug: 439815596 Change-Id: I598dcab0c840f2209a369c5a2789918a82a222a4
  .github/workflows/test.yml
Due: none

Merge "Update documentation for new flags" -- Branch commit log -- commit da23c71a03a0d06a6c884cdace2657051253b636 Author: gcpdiag team <noreply@google.com> Date: 2025-08-18T12:12:43Z
  README.md
Due: none

Investigate and fix gcpdiag github high vulnerabilities fixes: 437088883 Change-Id: Ibc6a7adee6f5f8015d15625c978dbdca47419cc3
  .github/workflows/code-analysis.yml
  .github/workflows/test.yml
  gcpdiag/queries/apis.py
  gcpdiag/queries/iam.py
Due: none

Remove unused parameter
  gcpdiag/runbook/command.py
Due: none

Add 'uv' as an option for building
  pyproject.toml
  requirements.txt
Due: none

Add a small mcp server to expose the runbooks
  .vscode/settings.json
  gcpdiag/mcp_server.py
  gcpdiag/test_mcp.py
  gcpdiag/test_mcplocal.py
Due: none

Merge "Add support for composite step execution" -- Branch commit log -- commit d737ac8f94099be02e24a32f1a67abd92a90615b Author: gcpdiag team <noreply@google.com> Date: 2025-08-19T13:42:42Z
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/runbook_test.py
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Fix github workflow test.yml
  .github/workflows/test.yml
Due: none
