Repository GoogleCloudPlatform/gcpdiag: changes, and which pre-commit hooks are due for each by the changed paths.
All: gcpdiag-custom-rule, gcpdiag-custom-runbook-rule

gcpdiag-custom-rule:
  name: Check that there are required files for each lint rule
  entry: ./bin/precommit-required-files-wrapper lint
  language: script

gcpdiag-custom-runbook-rule:
  name: Check and generate runbook docs
  entry: ./bin/precommit-required-files-wrapper runbook
  language: script

using the apis module and implicit false as per review comment
  gcpdiag/queries/iam.py
Due: none

Use the diagnostic engines runbook loader for tests
  gcpdiag/runbook/snapshot_test_base.py
Due: none

Merge "Handle Response error" -- Branch commit log -- commit bebcf03144459fbe5fa4c713ad06a1b5d6c68edb Author: gcpdiag team <noreply@google.com> Date: 2025-03-21T14:24Z
  gcpdiag/queries/apis.py
Due: none

Merge "[New Runbook] Guest OS bootup issues" -- Branch commit log -- commit 24e51ba56c6daa3ad194a5436fe495d92f2e9a02 Author: Kwesi Graham <akyen@google.com> Date: 2025-03-28T00:23:19Z
  gcpdiag/runbook/gce/guestos_bootup.py
  gcpdiag/runbook/gce/guestos_bootup_test.py
  gcpdiag/runbook/gce/snapshots/guestos_bootup.txt
  website/content/en/runbook/diagnostic-trees/gce/guestos-bootup.md
  website/content/en/runbook/steps/gce/guestos-bootup-start.md
  website/content/en/runbook/steps/gcpdiag/end-step.md
Due: gcpdiag-custom-runbook-rule

[New Runbook] GCE VM Creation runbook
  gcpdiag/queries/apis_stub.py
  gcpdiag/runbook/gce/flags.py
  gcpdiag/runbook/gce/snapshots/vm_creation.txt
  gcpdiag/runbook/gce/templates/vm_creation.jinja
  gcpdiag/runbook/gce/vm_creation.py
  gcpdiag/runbook/gce/vm_creation_test.py
  test-data/gce6/Makefile
  test-data/gce6/json-dumps/compute-disks-empty.json
  test-data/gce6/json-dumps/compute-disks-europe-west2-b.json
  test-data/gce6/json-dumps/compute-disks-us-central1-c.json
  test-data/gce6/json-dumps/compute-effective-firewalls-default.json
  test-data/gce6/json-dumps/compute-instances-aggregated.json
  test-data/gce6/json-dumps/compute-instances-us-central1-c.json
  test-data/gce6/json-dumps/compute-migs-aggregated.json
  test-data/gce6/json-dumps/compute-network-default.json
  test-data/gce6/json-dumps/compute-project.json
  test-data/gce6/json-dumps/global-operations.json
  test-data/gce6/json-dumps/healthChecks.json
  test-data/gce6/json-dumps/iam-policy.json
  test-data/gce6/json-dumps/iam-service-accounts.json
  test-data/gce6/json-dumps/logging-entries-1.json
  test-data/gce6/json-dumps/project.json
  test-data/gce6/json-dumps/services.json
  test-data/gce6/main.tf
  test-data/gce6/project.tf
  test-data/gce6/variables.tf
  website/content/en/runbook/diagnostic-trees/gce/vm-creation.md
  website/content/en/runbook/steps/gce/investigate-vm-creation-log-failure.md
  website/content/en/runbook/steps/gce/vm-metadata-check.md
  website/content/en/runbook/steps/gcp/human-task.md
  website/content/en/runbook/steps/gcp/resource-attribute-check.md
Due: gcpdiag-custom-runbook-rule

Merge "fix: 409778967" -- Branch commit log -- commit e9fe08aee67f66e901e97cfe79fd11f9aaf2ca19 Author: gcpdiag team <noreply@google.com> Date: 2025-04-11T02:13:21Z
  gcpdiag/queries/dataproc.py
  gcpdiag/runbook/dataproc/spark_job_failures.py
Due: gcpdiag-custom-runbook-rule

Merge "interconnect BGP down flap runbook" -- Branch commit log -- commit dea16e20be8fd50236d5c8de8ad2a253c2c6cf76 Author: gcpdiag team <noreply@google.com> Date: 2025-04-02T20:19:13Z
  gcpdiag/queries/apis_stub.py
  gcpdiag/queries/interconnect.py
  gcpdiag/queries/interconnect_test.py
  gcpdiag/queries/network.py
  gcpdiag/queries/network_test.py
  gcpdiag/runbook/interconnect/__init__.py
  gcpdiag/runbook/interconnect/bgp_down_flap.py
  gcpdiag/runbook/interconnect/bgp_down_flap_test.py
  gcpdiag/runbook/interconnect/constants.py
  gcpdiag/runbook/interconnect/flags.py
  gcpdiag/runbook/interconnect/generalized_steps.py
  gcpdiag/runbook/interconnect/generalized_steps_test.py
  gcpdiag/runbook/interconnect/snapshots/bgp_down_flap.txt
  gcpdiag/runbook/interconnect/templates/bgp_down_flap.jinja
  pyinstaller/hook-gcpdiag.runbook.py
  test-data/interconnect1/json-dumps/compute-interconnects.json
  test-data/interconnect1/json-dumps/compute-network-default.json
  test-data/interconnect1/json-dumps/compute-routers-routerStatus-dummy-router1.json
  test-data/interconnect1/json-dumps/compute-routers-routerStatus-dummy-router2.json
  test-data/interconnect1/json-dumps/compute-routers-us-east4.json
  test-data/interconnect1/json-dumps/interconnect-attachments.json
  test-data/interconnect1/json-dumps/logging-entries-1.json
  website/content/en/runbook/diagnostic-trees/interconnect/_index.md
  website/content/en/runbook/diagnostic-trees/interconnect/bgp-down-flap.md
  website/content/en/runbook/steps/interconnect/bgp-down-flap-end.md
  website/content/en/runbook/steps/interconnect/bgp-down-flap-start.md
  website/content/en/runbook/steps/interconnect/check-bgp-down.md
  website/content/en/runbook/steps/interconnect/check-bgp-flap.md
  website/content/en/runbook/steps/interconnect/check-cloud-router-maintenance.md
  website/content/en/runbook/steps/interconnect/check-interconnect-maintenance.md
Due: gcpdiag-custom-runbook-rule

Merge "update readme" -- Branch commit log -- commit 010bcc03d309a48f31ec1768e278c458bafaad7b Author: gcpdiag team <noreply@google.com> Date: 2025-04-04T15:06:20Z
  README.md
Due: none

Update README.md
  README.md
Due: none

Create exception for missing runbook parameters. bug: 411188573
  README.md
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/exceptions.py
  gcpdiag/runbook/runbook_test.py
Due: none

Update Github Actions workflow to use newer python version to fix tests
  .github/workflows/code-analysis.yml
Due: none

Update pipenv to use latest version to fix import errors
  .github/workflows/code-analysis.yml
Due: none

Merge "fix report.run_start_time error" -- Branch commit log -- commit c6bebdb81819a5e4ed7411d43e3a595b1373bce6 Author: gcpdiag team <noreply@google.com> Date: 2025-04-23T10:31:50Z
  gcpdiag/runbook/__init__.py
Due: none

Adding exceptions in constructing API endpoints for different services.
  gcpdiag/queries/apis.py
Due: none

Fix missing import errors
  Pipfile
  Pipfile.lock
Due: none

[gcpdiag runbook cli] Fix missing json report error
  gcpdiag/config.py
Due: none

Merge "[Bundles] Fix missing runbook_name error" -- Branch commit log -- commit 24d6669cfed37d181ae15d4df684c78581e16f15 Author: gcpdiag team <noreply@google.com> Date: 2025-05-13T13:13:23Z
  gcpdiag/runbook/report.py
Due: none

Update dataflow/dataproc jinja templates fixes: 417745690
  gcpdiag/runbook/dataflow/snapshots/job_permissions.txt
  gcpdiag/runbook/dataflow/templates/permissions.jinja
  gcpdiag/runbook/dataproc/snapshots/spark_job_failures.txt
  gcpdiag/runbook/dataproc/templates/permissions.jinja
  website/content/en/runbook/steps/dataflow/dataflow-worker-service-account-permissions.md
  website/content/en/runbook/steps/dataproc/check-permissions.md
  website/content/en/runbook/steps/dataproc/service-account-exists.md
Due: none

- Implement --test-release flag in gcpdiag docker
  bin/gcpdiag-dockerized
Due: none

Disambiguate name parameter for GKE and GCF runbooks + fix GCF failed deployments template bug bug: 417582775
  gcpdiag/runbook/gcf/failed_deployments.py
  gcpdiag/runbook/gcf/flags.py
  gcpdiag/runbook/gcf/snapshots/failed_deployments.txt
  gcpdiag/runbook/gke/flags.py
  gcpdiag/runbook/gke/logs.py
  website/content/en/runbook/diagnostic-trees/gcf/failed-deployments.md
  website/content/en/runbook/diagnostic-trees/gke/logs.md
Due: gcpdiag-custom-runbook-rule

new rule: Lint rule for backend service timeout best practice on load balancer, ref bug: b/416479087
  gcpdiag/lint/lb/bp_2025_002_timeout_sec_for_lb_backendservices.py
  gcpdiag/lint/lb/snapshots/BP_2025_002.txt
  website/content/en/rules/lb/BP/2025_002.md
Due: gcpdiag-custom-rule

new rule: lint rule for best practices for load balancer backend service connection draining setting , Bug ID: b/416743230
  gcpdiag/lint/lb/bp_2025_003_connection_draining_backend_services.py
  gcpdiag/lint/lb/snapshots/BP_2025_003.txt
  gcpdiag/queries/lb.py
  website/content/en/rules/lb/BP/2025_003.md
Due: gcpdiag-custom-rule

Merge "updated service name parameter" -- Branch commit log -- commit 310383dc0d891912d3c619326f54dc428c0a0294 Author: gcpdiag team <noreply@google.com> Date: 2025-05-22T08:27:01Z
  gcpdiag/runbook/cloudrun/flags.py
  gcpdiag/runbook/cloudrun/service_deployment.py
  gcpdiag/runbook/cloudrun/service_deployment_test.py
  gcpdiag/runbook/cloudrun/snapshots/service_deployment.txt
  website/content/en/runbook/diagnostic-trees/cloudrun/service-deployment.md
Due: gcpdiag-custom-runbook-rule

Merge "Update cluster_name param" -- Branch commit log -- commit 1bb8418b7d13b37fd702a25f43776a48a971c55b Author: gcpdiag team <noreply@google.com> Date: 2025-05-23T11:37:25Z
  gcpdiag/runbook/dataproc/cluster_creation.py
  gcpdiag/runbook/dataproc/cluster_creation_test.py
  gcpdiag/runbook/dataproc/flags.py
  gcpdiag/runbook/dataproc/generalized_steps.py
  gcpdiag/runbook/dataproc/snapshots/cluster_creation.txt
  gcpdiag/runbook/dataproc/snapshots/spark_job_failures.txt
  gcpdiag/runbook/dataproc/spark_job_failures.py
  gcpdiag/runbook/dataproc/spark_job_failures_test.py
  website/content/en/runbook/diagnostic-trees/dataproc/cluster-creation.md
Due: gcpdiag-custom-runbook-rule

Merge "update job_id param" -- Branch commit log -- commit b7d882f1a93d71283e47e390d8eba8fa49de1eb7 Author: gcpdiag team <noreply@google.com> Date: 2025-05-21T08:56:06Z
  gcpdiag/runbook/dataflow/failed_streaming_pipeline.py
  gcpdiag/runbook/dataflow/failed_streaming_pipeline_test.py
  gcpdiag/runbook/dataflow/flags.py
  gcpdiag/runbook/dataflow/generalized_steps.py
  gcpdiag/runbook/dataflow/snapshots/failed_streaming_pipeline.txt
  website/content/en/runbook/diagnostic-trees/dataflow/failed-streaming-pipeline.md
Due: gcpdiag-custom-runbook-rule

Bump version: 0.78 -> 0.79-test bug: 405080464
  .bumpversion.cfg
  gcpdiag/config.py
Due: none

Bump version: 0.79-test -> 0.79 bug: 405080464
  .bumpversion.cfg
  gcpdiag/config.py
Due: none

Bump version: 0.79 -> 0.80-test
  .bumpversion.cfg
  gcpdiag/config.py
Due: none

Update docker makefile wrapper version bug: 405080464,241726406
  docker/gcpdiag/Makefile
Due: none

update network param
  gcpdiag/runbook/dataproc/cluster_creation.py
  gcpdiag/runbook/dataproc/flags.py
  gcpdiag/runbook/dataproc/spark_job_failures_test.py
  gcpdiag/runbook/nat/flags.py
  gcpdiag/runbook/nat/public_nat_ip_allocation_failed.py
  website/content/en/runbook/diagnostic-trees/dataproc/cluster-creation.md
  website/content/en/runbook/diagnostic-trees/nat/public-nat-ip-allocation-failed.md
  website/content/en/runbook/steps/nat/nat-allocation-failed-check.md
Due: gcpdiag-custom-runbook-rule

Removed unused attribute error_status and formatted the file
  gcpdiag/runbook/dataproc/cluster_creation.py
  gcpdiag/runbook/dataproc/snapshots/cluster_creation.txt
  website/content/en/runbook/diagnostic-trees/dataproc/cluster-creation.md
  website/content/en/runbook/steps/dataproc/cluster-creation-end.md
Due: gcpdiag-custom-runbook-rule

Fix cross project service account validation
  gcpdiag/runbook/dataproc/cluster_creation.py
  gcpdiag/runbook/dataproc/templates/permissions.jinja
  website/content/en/runbook/steps/dataproc/service-account-exists.md
Due: gcpdiag-custom-runbook-rule

Add a gateway step that determines which steps to execute based on availability of cluster details from the Dataproc API.
  gcpdiag/queries/apis_stub.py
  gcpdiag/runbook/dataproc/cluster_creation.py
  gcpdiag/runbook/dataproc/cluster_creation_test.py
  gcpdiag/runbook/dataproc/snapshots/cluster_creation.txt
  gcpdiag/runbook/dataproc/templates/dataproc_attributes.jinja
  gcpdiag/runbook/dataproc/templates/logs_related.jinja
  gcpdiag/runbook/logs/generalized_steps.py
  gcpdiag/runbook/logs/templates/logging.jinja
  test-data/dataproc2/json-dumps/logging-entries-1.json
  test-data/dataproc2/json-dumps/project.json
  test-data/dataproc2/json-dumps/services.json
  test-data/dataproc3/json-dumps/logging-entries-1.json
  test-data/dataproc3/json-dumps/project.json
  test-data/dataproc3/json-dumps/services.json
  website/content/en/runbook/diagnostic-trees/dataproc/cluster-creation.md
  website/content/en/runbook/steps/dataproc/cluster-creation-quota.md
  website/content/en/runbook/steps/dataproc/cluster-creation-start.md
  website/content/en/runbook/steps/dataproc/cluster-creation-stockout.md
  website/content/en/runbook/steps/dataproc/cluster-details-dependency-gateway.md
  website/content/en/runbook/steps/logs/check-issue-log-entry.md
Due: gcpdiag-custom-runbook-rule

Update ERR/2022_001.md with latest link bug: 430076524
  website/content/en/rules/gce/ERR/2022_001.md
Due: none

Extend the output of the start step in unhealthy_bakcends runbook for LB, fix one small bug with IGs (they can be regional)
  gcpdiag/queries/gce.py
  gcpdiag/runbook/lb/snapshots/unhealthy_backends.txt
  gcpdiag/runbook/lb/templates/unhealthy_backends.jinja
  gcpdiag/runbook/lb/unhealthy_backends.py
  website/content/en/runbook/steps/lb/unhealthy-backends-start.md
Due: gcpdiag-custom-runbook-rule

Merge "Update runbook endstep behaviour" -- Branch commit log -- commit 929a8e91a19ee1afc65f64d42ab58a16f1f2d257 Author: gcpdiag team <noreply@google.com> Date: 2025-05-21T08:24:35Z
  gcpdiag/runbook/__init__.py
  gcpdiag/runbook/gcf/snapshots/failed_deployments.txt
  gcpdiag/runbook/runbook_test.py
Due: none

Merge "sidebar menu entries modified b/360128808" -- Branch commit log -- commit b7907392cecf71bd12010a44d31010fcee690259 Author: gcpdiag team <noreply@google.com> Date: 2025-06-09T10:32:48Z
  website/config.toml
Due: none

Merge "Improve dataproc query performance" -- Branch commit log -- commit 80c54efde8153c8dbd230dd2369e74057c7868d0 Author: gcpdiag team <noreply@google.com> Date: 2025-06-10T10:04:38Z
  gcpdiag/config.py
  gcpdiag/config_test.py
Due: none

Path conditions:
  gcpdiag-custom-rule: any of: ^gcpdiag/lint/[^/]+/(bp|warn|err|sec)_.*.py and not (.*_test.py) and not (/snapshots/)
  gcpdiag-custom-runbook-rule: any of: ^gcpdiag/runbook/[^/]+/.*.py and not (.*_test.py| ^gcpdiag/runbook/(output|report)| ^gcpdiag/runbook/[^/]+/snapshots/| ^gcpdiag/runbook/[^/]+/(constants|command|flags|util).py| ^gcpdiag/runbook/(constants|command|flags|exceptions|report|util).py
) and not (/snapshots/)
